DICTIONARY
- how to declare it
- how to access key and values of a dictionary
- how to use loops in dictionary

In [2]:
student = {
    "name" : "John",
    "class" : "12th",
    "roll_no" : 12,
    "age" : 17  
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17}

In [3]:
temp = {
    'Lucknow' : [25,30,35],
    'Delhi' : [30,35,40],
    'Chennai' : [24,23,22]
}
print(temp)

{'Lucknow': [25, 30, 35], 'Delhi': [30, 35, 40], 'Chennai': [24, 23, 22]}

In [4]:
info = dict(name='Riya', age=27, dept='HR', salary=30000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [5]:
info2 = dict(Name = input("Enter the name"), Age = int(input("Enter the age")), Dept = input("Enter the department"), Salary = int(input("Enter the salary")))

In [6]:
print(info2)

{'Name': 'Remo', 'Age': 25, 'Dept': 'Finance', 'Salary': 85000}

In [7]:
# 1st method
print(student['name'])
print(student['roll_no'])

John
12

In [8]:
# 2nd method
print(student.get('name'))
print(student.get('age'))

John
17

In [10]:
# to add items in a dictionary
student['school'] = 'St. Joseph' 
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'St. Joseph', 'city': 'Lucknow'}

In [11]:
for x in student: #by default first keys are stored
    print(x)

name
class
roll_no
age
school
city

In [14]:
for k, v in student.items():
    print(f'{k} : {v}')

name : John
class : 12th
roll_no : 12
age : 17
school : St. Joseph
city : Lucknow

In [15]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['John', '12th', 12, 17, 'St. Joseph', 'Lucknow'])
dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'St. Joseph'), ('city', 'Lucknow')])

In [17]:
company = { # main dictionary
    'emp001' : { # sub dictionary
        'name' : 'John',
        'age' : 27,
        'dept' : 'HR',
        'salary' : 30000
    },
    'emp002' : {
        'name' : 'Riya',
        'age' : 25,
        'dept' : 'IT',
        'salary' : 40000
    },
    'emp003' : {
        'name' : 'Mike',
        'age' : 30,
        'dept' : 'Finance',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [19]:
# to organize the output
from  pprint import  pp

In [20]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [21]:
# to find information about a particular key in sub dictionary
print(company['emp001']['dept']) # 1st - main dictionary, 2nd - sub dictionary, 3rd - key(about which we want to know)

HR

In [22]:
# to add a new sub dictionary
company['emp004'] = {
    'name' : 'Sam',
    'age' : 35,
    'dept' : 'Admin',
    'salary' : 25000
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000},
 'emp004': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 25000}}

In [25]:
# to find a particular value in the dictionary 
print(temp['Lucknow'][1]) # through indexing
print(temp['Delhi'][2])

30
40

In [35]:
# to find avg of temp of Delhi 
avg_temp = sum(temp['Delhi']) / len(temp['Delhi']) #dictionary name then key
print(avg_temp)

35.0

In [34]:
print('Average temperature of Delhi :', sum(temp['Delhi']) / len(temp['Delhi']))

Average temperature of Delhi : 35.0

In [36]:
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 80,
        'Science' : 78
    },
    'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
    },
}
pp(report)

{'Alex': {'English': 85, 'Maths': 80, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [39]:
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print('->', subject, mark)
    print('-> Total Marks : ', sum(marks.values()))

Alex
-> English 85
-> Maths 80
-> Science 78
-> Total Marks :  243
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total Marks :  255