### python datatypes
- int          | -1  10  -20           |
- float        | .2  1.3  -2.3  1.5e10 |
- bool         |  True  False          |
- str          |  'hello' , "hello"    |
- None type    |   None                |   No value
- list         |  [] [1,2,3]           |  similar to array
- tuple        |  {} {1,2,3}           |  similar to array 
- dict         |  {"a" : apple}        |  similar to hashmaps

In [2]:
print("Once upon a time")
print("There was a monkey")
print("sitting on a tree")
print("to be continued")

Once upon a time
There was a monkey
sitting on a tree
to be continued

In [3]:
a = 10
b = 20
c = a * b
print(a, b, c)
print(a, "*", b, "=", c)

10 20 200
10 * 20 = 200

In [4]:
print("Hello , I am Apoorvi")

Hello , I am Apoorvi

In [27]:
name = 'Sarah'
age = 16
job = "SDE 1"
print("Name:",name,", Age:", age, ", Job:", job)

Name: Sarah , Age: 16 , Job: SDE 1

In [29]:
print("Name :",name)
print("Age :",age)
print("Job :",job)

Name : Sarah
Age : 16
Job : SDE 1

In [25]:
p = 120000
r = 2.5
t = 10
si = p * r * t / 100
print("Simple Interest Calculator")
print("ðŸ“±"*11)
print(f'principle = {p}')
print(f'rate = {r}')
print(f'time = {t}')
print("ðŸ“±"*10)
print(f'simple interest = {si}')

Simple Interest Calculator
ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±
principle = 120000
rate = 2.5
time = 10
ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±ðŸ“±
simple interest = 30000.0

In [32]:
print("Simple Interest Calculator")
print("-"*30)
print(f'principle  {p//1000:15}k')
print(f'rate  {r:20}%')
print(f'time  {t:20}yr')
print("-"*30)
print(f'simple interest  {si/1000:3}k')
print("-"*30)

Simple Interest Calculator
------------------------------
principle              120k
rate                   2.5%
time                    10yr
------------------------------
simple interest  30.0k
------------------------------

In [34]:
fav_movie = input("Plz enter your movie")
print(fav_movie)
print("You may like it but i don't care")

You may like it but i don't care

In [36]:
a = input("Enter a number")
b = input("Enter a number")
print("Result is")
print(a + b)

Result is
12 3412 34

In [4]:
a = (input("Enter a number"))
b = (input("Enter a number"))
a = int(a)
b = int(b)
type(a)
type(b)
print(a + b)

5