In [2]:
# for loop
fruits = ['apple','mango','banana','orange','kiwi','grapes','papaya']
for x in fruits:
    print(x)

apple
mango
banana
orange
kiwi
grapes
papaya

In [4]:
a = "Hello World"
for x in a:
    print(x, end="") # to print in a horizontal way we use end

Hello World

In [5]:
a = "Hello World"
for x in a:
    print(x, end="ðŸ˜Š") # to print in a horizontal way we use end

HðŸ˜ŠeðŸ˜ŠlðŸ˜ŠlðŸ˜ŠoðŸ˜Š ðŸ˜ŠWðŸ˜ŠoðŸ˜ŠrðŸ˜ŠlðŸ˜ŠdðŸ˜Š

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(11):
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:

for i in range(1,6):
    print("Apoorvi Singh")

Apoorvi Singh
Apoorvi Singh
Apoorvi Singh
Apoorvi Singh
Apoorvi Singh

In [15]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [18]:
for i in range(0,30,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [19]:
for i in range(31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [20]:
# while loop
i = 0
while i<=20:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
i = 0
while i<5:
    print("I can do it , I am the best")
    i += 1

I can do it , I am the best
I can do it , I am the best
I can do it , I am the best
I can do it , I am the best
I can do it , I am the best

In [1]:
a = 15
i = 1
while i<=10:
    print(f'{a} * {i} = {a*i}')
    i += 1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [24]:
a = 15
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
number = [10, 20, 30, 40, 50]
total = 0
for num in number:
    total += num
print("The sum of the numbers is",total)

The sum of the numbers is 150

In [1]:
# use of break
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [3]:
# use of continue
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
a = 'Apoorvi Singh'
for i in a:
    if i == "r":
        break
    print(i, end="")

Apoo

In [8]:
a = [10,30,65,29]
total = 0
for i in a:
    total += i
print(total)

134

In [9]:
name = ['Apoorvi','Ram','Areeba','Sita']
for i in name:
    print(i)

Apoorvi
Ram
Areeba
Sita

In [11]:
for i, v in enumerate(name):
    print(f'{i}. {v}')

0. Apoorvi
1. Ram
2. Areeba
3. Sita

In [12]:
items = ['pen','pencil','eraser','sharpener','scale','book','bag','bottle','lunchbox']
for i, v in enumerate(items):
    if i == 8:
        break
    print(f'{i}. {v}')

0. pen
1. pencil
2. eraser
3. sharpener
4. scale
5. book
6. bag
7. bottle